<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Farming - Forgot Password</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-3" style="border-color: #01E1A5;">
      <img src="http://teamc-iot.calit2.net/mail_iconn.png" style="height: 200px;background-color: #01dea5;">
    </div>
    <div class="card card-login mx-auto mt-3" style="margin-top: 5px;">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" name = "email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Enter email address</label>
            </div>
            <div class="form-label-group">
                <input type="date" name = "birth" id="birth" class="form-control" required="required" autofocus="autofocus">
                <label for="birth">Enter your birth</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" id="repassb">Reset Password</a>
        </form>
        
        <script type="text/javascript">
          //When click the reset btn
          document.getElementById("repassb").addEventListener('click', function(){
            // Check the value are all filled
            var email = $('input[name = email]').val();
            var birth = $('input[name = birth]').val();
            
            if(email == ""){
              alert("Please, Enter the email");
            }else if(birth == ""){
              alert("Please, Enter the birth");
            }else{
              //send json
              $.ajax({
              method: "POST",
              url: "/forgot_password_check",
              data: {
                "id": email,
                "birth": birth               
              }
              }).done(function( msg ) {
                  //If sign_up success, show up the sign in page
                  if(msg.message == 0){
                    alert("We sent the reset password email to you, please check.");
                    location.href = "/";
                  }
                  if(msg.message == 1){
                    alert("You are not our member!!");
                    location.href = "/register_email";
                  }
                  if(msg.message == 2){
                    alert("Sorry, we can't send a email to you.\n Could you try one more?");
                  }
              });         
            }
          });
        </script>

        <div class="text-center">
          <a class="d-block small mt-3" href="/register_email">Register an Account</a>
          <a class="d-block small" href="/">Login Page</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
